<head>
    <title>story lines | {{#each array}}{{title}}{{/each}}</title>
    {{> main/head-block}}
    <!-- story page js script -->
    <script type="text/javascript" src="/assets/js/add.js"></script>
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <section class="title-container mx-auto">
      <h1 id="project-title" class="title mx-auto">{{#each array}}{{title}}{{/each}}</h1>
    </section>
    <section class="title-container mx-auto">
      <select id="owner" class="full">
        {{#each array}}
          {{#each user}}
            {{> add/option}}
          {{/each}}
        {{/each}}
      </select>
    </section>


  </section>
  </main>
</body>