<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
    <!-- login page js script -->
    <script type="text/javascript" src="/assets/js/login.js"></script>
    <!-- login page css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/auth.css" />
    <!-- animate.css stylesheet (for logo animation) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
</head>
<body class="max mx-auto">
  <header>
    <p class="animate__animated animate__heartBeat" id="logo">S</p>
    <section class="title-container mx-auto">
      <h1 class="auth-title mx-auto">story lines</h1>
    </section>
    <h2 class="title mx-auto">a simpler approach to agile project management</h2>
  </header>
  <main>
    <form id="login-form" class="section-container mx-auto text-center">
      <label class="auth-subtitle" for="loginEmailInput">email</label>
      <input id="email-input" class="auth-input mx-auto" type="email" />
      <label class="auth-subtitle" for="loginPasswordInput">password</label>
      <input id="password-input" class="auth-input mx-auto" type="password" />
      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>
      <div class="auth-container mx-auto text-right">
        <button id="login-btn" class="auth-btn" type="submit">login</button>
      </div>
      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>
    </form>
    <section class="section-container mx-auto">
      <a class="auth-redirect mx-auto" href="/">need to sign up?</a>
    </section>
    <section class="section-container mx-auto">
      <a class="auth-redirect mx-auto" href="/reset">forgot your password?</a>
    </section>
  </main>
</body>