<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <section class="title-container mx-auto">
      <h1 class="title mx-auto">Welcome, Jane!</h1>
    </section>
    <section class="section-container mx-auto text-center">
      <p class="section-title">Active Projects</p>
      <div class="row-container row mx-auto">
        <p class="section-item dash-project">Project 1 - [Name]</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-project">Project 4 - [Name]</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-project">Project 11 - [Name]</p>
        {{> dash/arrow }}
      </div>           
    </section>
    <section class="section-container mx-auto text-center">
      <p class="section-title">Active Stories</p>
      <select id="sort-select" class="mx-auto">
        <option value="0">Sort by Project</option>
        <option value="1">Sort by Due Date/Time Remaining</option>
        <option value="2">Sort by Created Data/Age</option>
        <option value="3">Sort by Reporter</option>
        <option value="4">Sort by Assignee/Other Option</option>
      </select>
      <div class="row-container row mx-auto">
        <p class="section-item dash-day red">1</p>
        <p class="section-item dash-story">Story 3 - Project 1</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-day yellow">2</p>
        <p class="section-item dash-story">Story 8 - Project 1</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-day green">4</p>
        <p class="section-item dash-story">Story 9 - Project 1</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-day green">7</p>
        <p class="section-item dash-story">Story 13 - Project 11</p>
        {{> dash/arrow }}
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item dash-day green">7</p>
        <p class="section-item dash-story">Story 19 - Project 11</p>
        {{> dash/arrow }}
      </div>
  </section>
  </main>
</body>