<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
    <!-- story page js script -->
    <script type="text/javascript" src="/assets/js/project.js"></script>
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <section class="title-container mx-auto">
      <h1 id="project-title" class="title mx-auto">{{title}}</h1>
    </section>
    <section class="section-container mx-auto text-center">
      <p class="section-title">Information</p>
      <div class="row-container row mx-auto">
        <p class="subtitle mx-auto">Owner</p> 
        <p class="subtitle mx-auto">Created</p>
      </div>
      <div class="row-container row mx-auto">
        <select id="reporter" class="info-select mx-auto">
          <option value="0">sholmes</option>
          <option value="1">absmith</option>
          <option value="2">cdevans</option>
          <option value="3">efskinner</option>
        </select>  
        <p id="created" class="story-info-item mx-auto"></p>  
      </div>   
      {{!-- <svg id="save-info-btn" class="story-btn bi bi-arrow-clockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
        <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
      </svg>
      <div id="info-message"></div> --}}
    </section>
    <!-- project details -->
    <section class="section-container mx-auto text-center">
      <div id="details-section"></div>
      <div id="details-message"></div>
    </section>
    <!-- add/edit story -->
    <div id="dynamic-story-section"></div>
    <section class="section-container mx-auto text-center">
      <div class="row-container row mx-auto">
        <p class="section-title">Stories</p>
        <svg id="add-story-btn" class="story-btn bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
      </div>
      <!-- stories associated with project -->
      <div id="story-section"></div>
  </section>
  </main>
</body>