<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
    <!-- login page js script -->
    <script type="text/javascript" src="/assets/js/reset.js"></script>
    <!-- login page css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/auth.css" />
    <!-- animate.css stylesheet (for logo animation) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
</head>
<body class="max mx-auto">
  <header>
    <p class="animate__animated animate__heartBeat" id="logo">S</p>
    <section class="title-container mx-auto">
      <h1 class="auth-title mx-auto">story lines</h1>
    </section>
    <h2 class="title mx-auto">A simpler approach to agile project management</h2>
  </header>
  <main class="section-container mx-auto text-center">
    <h5>{{ title }}</h5>
    <form id="reset-form" class="section-container mx-auto text-center">
    {{#if token }}
      <label class="auth-subtitle" for="password">Enter your new password:</label>
      <input type="password" id="password" name="password" class="auth-input mx-auto"/>
    {{else}}
      <label class="auth-subtitle" for="email">Enter your email address:</label>
      <input type="email" id="email" name="email" class="auth-input mx-auto"/>
    {{/if}}
    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> <span class="msg"></span>
    </div>
    <div class="auth-container mx-auto text-center">
      <button id="reset-btn" class="auth-btn" type="submit">Submit</button>
    </div>
    </form>
    </br>
    <a class="auth-redirect" href="/login">Click here to login</a>
  </main>
</body>