<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
    <!-- story page js script -->
    <script type="text/javascript" src="/assets/js/story.js"></script>
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <section class="title-container mx-auto">
      <h1 id="story-title" class="title mx-auto">Story 22 - Project 13</h1>
    </section>
    <section class="section-container mx-auto text-center">
      <div class="row-container row mx-auto">
        <p class="subtitle story-info mx-auto">Reporter:</p> 
        <p class="subtitle story-info mx-auto">Assignee:</p>   
      </div>
      <div class="row-container row mx-auto">
        <select id="reporter" class="info-select mx-auto">
          <option value="0">sholmes</option>
          <option value="1">absmith</option>
          <option value="2">cdevans</option>
          <option value="3">efskinner</option>
        </select>  
        <select id="assignee" class="info-select mx-auto">
          <option value="0">jhwatson</option>
          <option value="1">ghingles</option>
          <option value="2">ijpatel</option>
          <option value="3">klmanning</option>
        </select>  
      </div>
      <div class="row-container row mx-auto">
        <div class="story-info-container">
          <div class="row-container row">
            <p class="subtitle story-info-created mx-auto">Created:</p> 
            <p class="subtitle story-info-due mx-auto">Due:</p>   
          </div>
          <div class="row-container row">
            <p id="created" class="section-item story-info-created mx-auto"></p>  
            <input id="estimated" class="story-info-input story-info-due mx-auto" />  
          </div>
        </div>
        <div class="story-btn-container mx-auto">
          <svg id="save-info-btn" class="story-btn bi bi-arrow-clockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
            <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
      </div>
      <div id="info-message"></div>
    </section>
    <!-- story details -->
    <section class="section-container mx-auto text-center">
      <div id="details-section"></div>
      <div id="details-message"></div>
    </section>
    <!-- add/edit task -->
    <div id="dynamic-task-section"></div>
    <section class="section-container mx-auto text-center">
      <div class="row-container row mx-auto">
        <p class="section-title">Tasks</p>
        <svg id="add-task-btn" class="story-btn bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
      </div>
      <!-- tasks associated with story -->
      <div id="task-section"></div>
  </section>
  </main>
</body>