<nav class="nav-bar com row mx-auto text-center">
  <i class="nav-btn mx-auto fa fa-home" id="home" aria-hidden="true"></i>
  <i class="nav-btn mx-auto fa fa-plus-square" id="add" aria-hidden="true"></i>
  <i class="nav-btn mx-auto fa fa-search" id="search" aria-hidden="true"></i>
</nav>
