<nav class="nav-bar com row mx-auto text-center">
  <i class="nav-btn mx-auto fa fa-home" id="home"></i>
  <i class="nav-btn mx-auto fa fa-plus" id="add"></i>
  <i class="nav-btn mx-auto fa fa-search" id="browse"></i>
</nav>