.max {
  max-width: 500px;
  border: solid 2px black;
  box-shadow: none;
}
/* color scheme classes: primary, secondary, tertiary, and complement */
.pri {
  background-color: lightgray;
  color: blue;
}
.sec {
  background-color: lightslategray;
  color: white;
}
.ter {
  background-color: lightsteelblue;
  color: blue;
}
.com {
  background-color: #0000ff;
  color: white;
}
/* font style classes: Lato, Architects Daughter */
.lato {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.architects-daughter {
  font-family: "Architects Daughter", cursive;
}
/* page titles */
.title {
  font-size: 22px;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: 0;
}
/* navigation bar */
.nav-bar {
  width: 100%;
}
.nav-btn {
  color: white;
  font-size: 22px;
}
.nav-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* section elements */
.section-container {
  padding: 10px;
  margin: 10px;
  width: 95%;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}
.section-title {
  font-size: 18px;
  font-family: "Architects Daughter", cursive;
  text-align: start;
  margin: 0;
}
.section-item {
  width: 90%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px blue;
  box-shadow: 1px 1px 5px rgba(0, 0, 255, 50%);
  font-size: 16px;
}
/* dashboard elements */
.dash-container {
  width: 95%;
  padding: 0;
  margin: 10px 0 10px 0;
}
.dash-info {
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}
.dash-item {
  width: 75%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px blue;
  box-shadow: 1px 1px 5px rgba(0, 0, 255, 50%);
  font-size: 16px;
}
.red {
  border: solid 1px tomato;
  /* background-color: rgba(255, 99, 71, 50%); */
  box-shadow: 1px 1px 5px rgba(255, 99, 71, 50%);
}
.yellow {
  border: solid 1px gold;
  /* background-color: rgba(255, 215, 0, 50%); */
  box-shadow: 1px 1px 5px rgba(255, 215, 0, 50%);
}
.green {
  border: solid 1px green;
  /* background-color: rgba(0, 128, 0, 50%); */
  box-shadow: 1px 1px 5px rgba(0, 128, 0, 50%);
}
.dash-btn {
  color: blue;
  font-size: 22px;
  margin: 0;
  padding: 6px 0 0 0;
  line-height: 1.0;
}
.dash-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.button {
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  width: 95%;
  box-shadow: 5px 5px 5px black;
}
.button:hover, .button:focus {
  outline: none;
  opacity: 0.7;
}
select:enabled, select:focus, select:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 95%;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;
  /* box-shadow: 5px 5px 5px black; */
  text-align: center;
}
