.max {
  max-width: 500px;
  box-shadow: 5px 5px 5px black;
  background-color: whitesmoke;
}
/* color scheme classes: primary, secondary, tertiary */
.pri {
  color: gold;
  background-color: navy;
}
.sec {
  background-color: lightslategray;
  color: navy;
}
.ter {
  background-color: #0b3c5d;
  color: #d9b310;
}
/* navigation bar */
.nav-bar {
  width: 100%;
  background-color: lightslategray;
  padding: 5px 0 5px 0;
}
.nav-btn {
  color: navy;
  font-size: 22px;
}
.nav-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.arrow {
  font-size: 24px;
  color: navy;
  margin: 0;
}
/* page titles */
.title {
  font-size: 22px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
/* section elements */
.section-container {
  padding: 10px;
  margin: 0;
  width: 100%;
}
.section-title {
  font-size: 20px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-align: start;
  margin: 0;
  color:navy;
}
.section-item {
  width: 85%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px navy;
  color: navy;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 255, 50%);
  font-size: 16px;
}
/* dashboard elements */
.dash-container {
  width: 95%;
  padding: 0;
  margin: 10px 0 10px 0;
}
.dash-info {
  width: 11.5%;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 7.5px;
  color:navy;
  background-color: whitesmoke;
}
.dash-item {
  width: 72%;
  margin-right: 7.5px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px navy;
  color: navy;
  background-color: whitesmoke;
  font-size: 16px;
}
.red {
  border: solid 2px #e60000;
  background-color: lightslategray;
}
.yellow {
  border: solid 2px gold;
  background-color: lightslategray;
}
.green {
  border: solid 2px limegreen;
  background-color: lightslategray;
}
.dash-btn {
  color: navy;
  font-size: 22px;
  margin: 0;
  padding: 6px 0 0 0;
  line-height: 1.0;
}
.dash-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.button {
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  width: 95%;
  box-shadow: 5px 5px 5px black;
}
.button:hover, .button:focus {
  outline: none;
  opacity: 0.7;
}
select:enabled, select:focus, select:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 95%;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: center;
}
/* section elements */
.section-container2 {
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
