/* body sizing and background*/
.max {
  max-width: 375px;
  background-color: rgba(119, 136, 153, 35%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* navigation bar and page buttons */
.nav-bar {
  width: 95%;
  margin: 10px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background-color: lightslategray;
  box-shadow: 2px 2px 5px lightslategray;
}
.nav-btn {
  color: navy;
  font-size: 24px;
}
.arrow-btn {
  color: navy;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgray;
  box-shadow: 1px 1px 5px navy;
}
.story-btn {
  color: navy;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  height: 2em;
  width: 2em;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px navy;
}
.button {
  outline: none;
  border: none;
  background-color: navy;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
  border-radius: 40px;
  color: white;
  box-shadow: 1px 1px 5px navy;
  width: 40%;
}
.nav-btn:hover, .arrow-btn:hover, .story-btn:hover, button:hover, .nav-btn:focus, .arrow-btn:focus, .story-btn:focus, .button:focus {
  cursor: pointer;
  opacity: 0.7;
  outline: none;
}
/* prevents mouse clicks on child elements for vector icons */
i > * {
  pointer-events: none;
}
svg > * {
  pointer-events: none;
}
/* page titles */
.title-container {
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightslategray;
  color: lightgray;
  background-color: navy;
}
.title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}
/* section elements */
.section-container {
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightslategray;
  background-color: lightslategray;
  color: navy;
}
.row-container {
  width: 320px;
  padding: 0;
  margin: 0;
}
.section-title {
  font-size: 20px;
  text-align: start;
  margin: 5px 5px 0 5px;
  color:navy;
  height: 2em;
}
.subtitle {
  margin: 5px;
  padding: 5px;
  color: navy;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: lightgray;
  background-color: navy;
  border-radius: 5px;
  box-shadow: 1px 1px 5px navy;
}
.section-item {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: navy;
  background-color: whitesmoke;
  font-size: 16px;
  box-shadow: 1px 1px 5px navy;
  height: 2.25em;
}
.section-item-tall {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: navy;
  background-color: whitesmoke;
  font-size: 16px;
  box-shadow: 1px 1px 5px navy;
  text-align: start;
}
/* widths*/
.full {
  width: 320px;
}
.half {
  width: 150px;
}
.long {
  width: 264px;
}
.medium {
  width: 217px;
}
.medium-short-1 {
  width: 175px;
}
.medium-short-2 {
  width: 75px;
}
.short {
  width: 37px;
}
/* user inputs */
select:enabled, select:focus, select:active {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: left;
  height: 2.25em;
}
input:enabled, input:focus, input:active {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: left;
  height: 2.25em;
}
textarea:enabled, textarea:focus, textarea:active {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: left;
}
/* color-coding for time-related elements */
.red {
  background-color: rgba(255, 0, 0, 60%);
}
.yellow {
  background-color: rgba(255, 215, 0, 60%);
}
.green {
  background-color: rgba(50, 205, 50, 60%);
}