/* body sizing and background*/
.max {
  max-width: 375px;
  background-color: rgba(119, 136, 153, 35%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* login / signup page elements */
.auth-title {
  font-size: 36px;
  font-family: "Architects Daughter", cursive;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 95%;
}
.logo {
  font-size: 144px;
  /* font-family: "Architects Daughter", cursive; */
  font-family: "Indie Flower", cursive;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 95%;
  color: navy;
  height: 1.25em;
}
.auth-input:enabled, .auth-input:focus, .auth-input:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  width: 95%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 5px;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: start;
}
.auth-btn {
  background-color: navy;
  color: lightgray;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0 10px 0;
  width: 50%;
  box-shadow: 1px 1px 5px navy;
}
.auth-btn:hover, .auth-btn:focus {
  cursor: pointer;
  opacity: 0.7;
  outline: none;
}
.auth-container {
  width: 95%;
  margin: 0;
}
.auth-redirect {
  cursor: pointer;
  font-size: 20px;
  text-align: start;
  margin: 0;
  color:navy;
  text-decoration: none !important;
}
.auth-redirect:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* navigation bar and other page buttons */
.nav-bar {
  width: 95%;
  margin: 10px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background-color: lightslategray;
  box-shadow: 2px 2px 5px lightslategray;
}
.nav-btn {
  color: navy;
  font-size: 24px;
}
.arrow-btn {
  color: navy;
  font-size: 24px;
  margin: 0;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px navy;
}
.story-btn {
  color: navy;
  font-size: 18px;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  height: 2em;
  width: 2em;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px navy;
}
.nav-btn:hover, .arrow-btn:hover, .story-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* prevents mouse clicks on child elements for vector icons */
i > * {
  pointer-events: none;
}
svg > * {
  pointer-events: none;
}
/* page titles */
.title-container {
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightslategray;
  color: lightgray;
  background-color: navy;
}
.title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}
/* section elements */
.section-container {
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightslategray;
  background-color: lightslategray;
  color: navy;
}
.section-title {
  font-size: 20px;
  text-align: start;
  margin: 0;
  color:navy;
  height: 2.25em;
  width: 88%;
}
.section-item {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  color: navy;
  background-color: whitesmoke;
  font-size: 16px;
  box-shadow: 1px 1px 5px navy;
  height: 2.25em;
}
.story-details {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  color: navy;
  background-color: whitesmoke;
  font-size: 16px;
  box-shadow: 1px 1px 5px navy;
  text-align: start;
}
.dash-project {
  width: 85%;
}
.dash-day {
  width: 11.5%;
}
.dash-story {
  width: 70.5%;
  overflow: auto;
}
.story-info {
  width: 48%;
}
.task {
  width: 71%;
}
.row-container {
  width: 95%;
  padding: 0;
  margin: 0;
}
.subtitle {
  margin: 0;
  padding: 5px;
  color: navy;
  font-size: 16px;
}
/* color-coding for time-related elements */
.red {
  background-color: rgba(255, 0, 0, 60%);
}
.yellow {
  background-color: rgba(255, 215, 0, 60%);
}
.green {
  background-color: rgba(50, 205, 50, 60%);
}
/* user input elements */
select:enabled, select:focus, select:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 95%;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 0;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: center;
  height: 2.25em;
}
.status-select:enabled, .status-select:focus, .status-select:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 20%;
  margin-right: 10px;
  padding: 5px 0 5px 0;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: center;
  height: 2.25em;
}
.story-input:enabled, .story-input:focus, .story-input:active {
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 60%;
  margin-right: 10px;
  padding: 5px 0 5px 0;
  box-shadow: 1px 1px 5px navy;
  background-color: whitesmoke;
  color: navy;
  text-align: center;
  height: 2.25em;
}
/* used in dynamically rendered elements */
.show {
  display: block;
}
.hide {
  display: none;
}