<div class="row-container row mx-auto">
  <p id="days" class="section-item short {{color-class}}">{{days}}</p>
  <p id="task-name" class="section-item medium-short-1">{{title}}</p>
  <select id="task-status-select" class="medium-short-2">
    {{#each array}}
      {{#each status}}
        {{> story/status-option}}
      {{/each}}
    {{/each}}
  </select>
</div>