<div class="row-container row mx-auto">
  <p class="section-item short">{{daysRem}}</p>
  <p class="section-item medium">Project {{projectID}} - {{title}}</p>
  <svg id="arrow-story-{{id}}" class="arrow-btn bi bi-arrow-right-short" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor">
    <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path>
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path>
  </svg>
</div>